<form class="add-form" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="lirstName">First name</label>
    <input
      type="text"
      name="firstName"
      [(ngModel)]="firstName"
      id="first-name"
      placeholder="First name"
    />
  </div>
  <div class="form-control">
    <label for="lastName">Last name</label>
    <input
      type="text"
      name="LastName"
      [(ngModel)]="lastName"
      id="last-name"
      placeholder="Last name"
    />
  </div>
  <div class="form-control">
    <label for="sex">Enter your sex</label>
    <select name="sex" [(ngModel)]="sex" id="sex">
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Unspecified">Prefer not to say</option>
    </select>
  </div>
  <input type="submit" value="Save changes" class="btn btn-block" />
</form>
